
/* 
CPVEN Portal Web
author: Roger Acosta
Febrero 28, 2020

*/

/* Colores de cpven

- Colores en la pagina WEB de cpven 

Amarillo : #ffd100 rgb(255,209,0)
Verde : #388B22 rgb(56,139,34)

- Colores del Logo de Cpven en la pagina WEB 

Verde : #50b748 rgb(80,182,72)
Amarillo: #ffde00 rgb(255,222,0)

- Colores del Manual de Identidad Entregado a mi en el año 2016

Amarillo : rgb(239,204,0); #efcc00
Verde : rgb(142,187,54); #8ebb36

- Verde los iconos entregados por el diseñador:

rgba(142, 187, 54, 0.8)  |  8dbb35

 - Colores del icono de GTH

 Verde : #74bc1f

 - Colores del Icono Informatica

 Verde : #77bd1e

*/
/* Variables */
:root {
    --colorverde:#8dbb35; 
    --colorverdetiles: rgba(142, 187, 54, 0.8); 
    --coloramarillo: #efcc00;
    --colorgris:#f4f4f4;
    --boxshadow: 0 5px 8px -6px rgba(0,0,0,.8);
}


*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
    box-shadow: var(--boxshadow)
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: var(--coloramarillo);
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: var(--colorverde);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }