:root {
  --background: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22272e;
    --color: whitesmoke;
  }
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: var(--color);
}